<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title><%= title%></title> -->
    <link rel="stylesheet" href="/CSS/Style.css">
</head>
<body>
    <section class="body1">
        <div><h1>Signin</h1></div>
        
        <div>
            <form action="/user/createsession" method="post">
                <input type="email" name="email" id="" required>
                <input type="password" name="password" id="" required>
                <input type="submit" value="Submit">
            </form>
        </div>
        <div>
            <a href="/user/auth/google">
            <button href="/user/auth/google" class="google-button">
            <span class="google-button__icon">
              <img src="../IMAGE/Google__G__Logo.svg.png" height="20px" width="20px" style="margin: 5px 0 0 0;">
            </span>
            <span class="google-button__text">Sign in with Google</span>
            </button>
            </a>
        </div>
        
    </section>
</body>
</html>